body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
}

.container {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(0deg);
  transition: transform 0.7s;
}
.container span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 10px;

  transform: rotateY(calc(var(--i) * 45deg)) translateZ(500px);
}
.container span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 10px;
}

.btn-container {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}
.btn {
  padding: 7px;
  background-color: white;
  color: #000;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
.btn:hover {
  filter: brightness(1.5);
}
