body {
  background-color: rgb(232, 210, 182);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.top {
  display: flex;
  align-items: center;
  gap: 5px;
}
.fram {
  width: 800px;
  height: 400px;
  overflow: hidden;
}
.arrow_left,
.arrow_right {
  font-size: 40px;
  color: rgb(170, 165, 165);
  border: none;
  outline: transparent;
  cursor: pointer;
}

.slider_container {
  width: 100%;
  height: 100%;
  display: flex;
  transition: all 1s ease-in;
}
.slider_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider_cercle {
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 5px;
}
.cercle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #b44646;
  cursor: pointer;
}
